<div class="flx" fxLayout='row' fxLayoutAlign='center center'>
    <mat-card fxFlex='30'>
        <h3 class="h3">Reset your password</h3>
            <div class="align">
            <form name="form" (ngSubmit)="onReset()">
                <mat-form-field class="align">
                    <input matInput placeholder="Enter your User name" [formControl]="username"  required>
                    <mat-error *ngIf="password.dirty">{{usernameError()}}</mat-error>
                </mat-form-field>
                <br>

                <mat-form-field class="align">
                    <input type="password" matInput placeholder="Enter your password" [formControl]="password   " required>
                    <mat-error *ngIf="password.dirty">{{passwordError()}}</mat-error>
                </mat-form-field>
                <br>

                <mat-form-field class="align">
                    <input type="password" matInput placeholder="Enter new password" [formControl]="newpassword" required>
                    <mat-error *ngIf="password.dirty">{{resetpasswordError()}}</mat-error>
                </mat-form-field>
                <br>

                <div class="example-button-row">
                  <button ngSubmit="onReset()"  mat-stroked-button style="margin-left:80px;">Reset</button>
                    <a [routerLink]="['']"><button mat-stroked-button style="margin-left:20px;">Sign In</button></a>
                </div>  

                <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="btn">
                  <mat-button-toggle value="italic">Submit</mat-button-toggle>
                  <a [routerLink]="['']"><mat-button-toggle value="underline">Sing In</mat-button-toggle></a>
                </mat-button-toggle-group> -->
            </form>
            </div>
    </mat-card>    
</div>