
  <h3 class="p">Reset Your Password</h3>
    <div class="example-container">
      
        <label for="username">Username : </label>
        <input type="text"  placeholder="Enter Email Id" ng-model="username">
     
        <label for="password">Old Password : </label>
        <input type="password" placeholder="Enter Password" ng-model="password">

        <label for="newpassword">New Password : </label>
        <input type="password" placeholder="Enter New Password" ng-model="newpassword">

    </div>
  <button class="btn" (click)="login()">Submit</button>
  <button class="btn" (click)="login()"><a [routerLink]="['login']" >Back</a></button>

    