<div class="flx" fxLayout='row' fxLayoutAlign='center center'>
    <mat-card fxFlex='40'>
        <h3 class="h3">Reset your password</h3>
            <div class="align">

                <mat-form-field class="align">
                    <input matInput placeholder="Enter your email id">
                </mat-form-field>
                <br>

                <mat-form-field class="align">
                    <input type="password" matInput placeholder="Enter your password">
                </mat-form-field>
                <br>

                <mat-form-field class="align">
                    <input type="password" matInput placeholder="Confirm your password">
                </mat-form-field>
                <br>

                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="btn">
                  <mat-button-toggle value="italic">Submit</mat-button-toggle>
                  <mat-button-toggle value="underline"><a [routerLink]="['']">Back</a></mat-button-toggle>
                </mat-button-toggle-group>

            </div>
    </mat-card>    
</div>