.mat-card
{
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

.mat-btn
{
    margin-left: 1235px;
}

.active-cyan input[type=search] 
{
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}