.app-icon
{
   opacity: 0;
  
}


.flex
{
    width: 26%;
    margin-top: 40px;
    margin-left: 30px;
	  border: 1px solid #D0D0D0;
    box-shadow: 0 0 10px #D0D0D0;
}

	.flex:hover
	{
		-moz-box-shadow: 200 200 400px #ccc;
		-webkit-box-shadow: 020 200 100px #ccc;
    box-shadow: 0 0 7px #ccc;
    border: 2px solid  rgb(194, 194, 194);
  }
  
.title-design
{
   margin-top:10px; 
   margin-bottom:10px; 
   font-size:16px;
}

.description-design
{
   margin-top:10px; 
   margin-bottom:13px; 
   font-size:14px;
}

.reminder-design
{
  padding-top: 4px;
   padding-right: 6px;
  // padding-bottom: 4px;
  // padding-left: 4px;
  border-bottom-left-radius: 120px;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  color:black;
  text-align: center;
  font-size : 12px;
}

.icon-size
{
  padding-top: 4px;
  // padding-right: 4px;
  // padding-bottom: 4px;
  // padding-left: 4px;
  font-size: 12px;
}


.cardList 
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-left: 12%;
 }

 /* Column Gap */
 .cardList > * 
 {
   box-sizing: border-box;
 }

 .cardList > *:not(:last-child) 
 {
   margin-right:2px;
 }

 /* Item sizing */
 .cardListItem 
 {
   flex: 0 1 calc(33.3% - 32px);
 }

 /* medium size viewport */
 @media screen and (max-width: 959px) 
 {
   /* Column Gap */
   .cardList > *:not(:last-child) 
   {
     margin-right: 32px;
   }

   /* Item sizing */
   .cardListItem 
   {
     flex: 0 1 calc(50% - 32px);
   }
 }

 /* small size viewport */
 @media screen and (max-width: 59px) 
 {
   .cardList
   {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
   }

   .cardList > *:not(:last-child)
   {
     margin-right: unset;
     margin-bottom: 32px;
   }

 }
