{{childMessage}}

<div class="cardList" >
    <ng-container *ngFor="let _ of [1]">
        <mat-card   *ngFor="let data of allCard" [ngStyle]="{'background-color': data.color}" class="flex">
           <div>
              <div fxLayout='column' style="height: auto;">
    
                  <!-- <div class="description-design">
                    {{data.images}}
                  </div> -->

                  <div class="title-design">
                    {{data.title}}
                  </div>

                  <div class="description-design">
                    {{data.description}}
                  </div>

                  <div fxLayout="row" fx-Align="start center">
                       <mat-chip  class="reminder-design" >
                          <mat-icon class="icon-size" (removed)="remove(reminder)">access_time</mat-icon>
                             {{data.reminder}}
                             <!-- <mat-icon style="font-size: 12px;" (click)="RemindDelete()">close</mat-icon> -->
                       </mat-chip>  
                  </div>
                </div>
              </div>
                <!-- <div  *ngFor="let labels of alllabels">
                  <div class="title-design">
                    {{labels.label_name}}
                  </div>
           </div>  -->
        <!-- <app-icon class="app-icon"></app-icon>  -->
        
        <app-icon class="app-icon"></app-icon> 
        </mat-card>
    </ng-container>
</div>

<!-- <div *ngFor="let labels of alllabels">
  <div class="title-design">
    {{labels.label_name}}
  </div> -->
 