
.flex
{
    width: 24%;
    margin-top: 40px;
    margin-left: 30px;
	 border: 2px solid #D0D0D0;
    box-shadow: 0 0 10px #D0D0D0;
    border-radius: 12px;
}

.title-design
{
   margin-top:10px; 
   margin-bottom:10px; 
   font-size:16px;
}

.description-design
{
   margin-top:10px; 
   margin-bottom:13px; 
   font-size:14px;
}

.cardList 
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-left: 12%;
 }

 /* Column Gap */
 .cardList > * 
 {
   box-sizing: border-box;
 }

 .cardList > *:not(:last-child) 
 {
   margin-right:2px;
 }

 /* Item sizing */
 .cardListItem 
 {
   flex: 0 1 calc(33.3% - 32px);
 }

 /* medium size viewport */
 @media screen and (max-width: 959px) 
 {
   /* Column Gap */
   .cardList > *:not(:last-child) 
   {
     margin-right: 32px;
   }

   /* Item sizing */
   .cardListItem 
   {
     flex: 0 1 calc(50% - 32px);
   }
 }

 /* small size viewport */
 @media screen and (max-width: 59px) 
 {
   .cardList
   {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
   }

   .cardList > *:not(:last-child)
   {
     margin-right: unset;
     margin-bottom: 32px;
   }

 }
