
<h3>User Registration Form</h3>
<form >
        <input name="first" ngModel required >
        <label>First Name</label>

        <input name="last" ngModel required>
        <label>Last Name</label>
        
        <input name="add" ngModel required>
        <label>Address</label>
        
        <input name="no" ngModel required>
        <label>Contact No</label>
       
        <input name="email" ngModel required>
        <label>Email</label>
        
        <input name="psw" ngModel required>
        <label>Password</label>
       
        <input name="cpsw" ngModel required>
        <label>Confirm Password</label>
        
        <br>
        <button>Submit</button>

     
        
        </form>