<mat-toolbar fxLayout="row" fxAlign="start center" style="width:100%;background-color:white;outline-color: gray; border:2px;">
    <button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon (click)="drawer.toggle()" class="navbar-content2" >dehaze</mat-icon>
    </button> {{headername}}
    <span class="f">F</span>
    <span class="u">U</span>
    <span class="n">N</span>
    <span class="d">D</span>
    <span class="o">O</span>
    <span class="oo">O</span> 

    <mat-card style="width: 700px; margin-left: 120px; height: 16px; border: redius 14px;background-color: whitesmoke;">
      <mat-icon class="navbar-content-search">search</mat-icon>
      <!-- <input matInput placeholder="Search" class="searchbar"> -->
    </mat-card>
    <!-- <mat-card style="width: 700px; margin-left: 120px; height: 16px; border: redius 14px;">
        <mat-icon class="navbar-content-search">search</mat-icon>
        <!-- <input matInput placeholder="Search" class="searchbar"> --
    </mat-card> -->

   <!-- grid start -->
   <mat-icon  matTooltip="Grid-View" (click)="flag=true" *ngIf=!flag class="navbar-content">dashboard </mat-icon>
   <mat-icon  matTooltip="Grid-View" (click)="flag=false" *ngIf=flag class="navbar-content">dns </mat-icon>
 <!--drid end -->

  <mat-icon  class="navbar-content11" matTooltip="Settings" [matMenuTriggerFor]="menu1">settings_outline</mat-icon>

  <button mat-mini-fab color="primary" class="navbar-content11" [matMenuTriggerFor]="profile" style="background-color: rgb(123, 27, 200);">P</button>

  <mat-menu #profile="matMenu" >
      <div fxLayout="row" class="profileMenu">

        <div>
          <button style="font-size:20px;text-align:center;" mat-fab color="primary" [matMenuTriggerFor]="menu">
            <span>P</span>
            <mat-divider></mat-divider>
            <!-- <input type="file" style="display:none" #profile> -->
            <span class="add-profile-pic">change</span>
          </button>
        </div>

        <div fxLayout='column'>
          <div class="text">
            Prachi Ingole
          </div>

          <div class="margin">
            prachi760@gmail.com
          </div>

          <div class="margin2">privacy
            <!-- <a href="https://policies.google.com/privacy?hl=en-GB">privacy</a> -->
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout='row'>
        <div>
          <button mat-stroked-button class="basic-btn">Add Account</button>
        </div>
        <div>
          <button mat-stroked-button  class="basic-btn2">Sign Out</button>
        </div>
      </div>
  </mat-menu>
</mat-toolbar>

  <!-- setting start -->
    <mat-menu #menu1="matMenu">
      
      <button mat-menu-item  (click)="opensettingDialog()">
        <span>Settings</span>
      </button>

      <button mat-menu-item (click)="openfeedbackDialog()">
        <span>Send Feedback</span>
      </button>

      <button mat-menu-item>
        <span><a href="https://support.google.com/keep/#topic=6262468">Helps</a></span>
      </button>

      <button mat-menu-item>
          <span><a href="https://keep.google.com/u/0/#archive">App Downloads</a></span>
      </button>

        <button mat-menu-item (click)="shortcutkeys()">
          <span>Keyboard Shortcuts</span>
        </button>
    </mat-menu>
    <mat-divider></mat-divider>
<!--setting end -->

<!-- <mat-icon matTooltip="FundooApps">apps</mat-icon> -->
<mat-drawer-container class="example-container" #drawer>
    <mat-drawer #drawer  mode="side">
      <div style="margin-top:5px;margin-right: 4px; width:300px;">
  {{headername}}
          <mat-nav-list class="nav" >
              <div [ngClass]="{ nav:true, 'nav2':true }" headername="Notes">
              <a mat-list-item [routerLink] = "['notes']" class="nav" [routerLinkActive]="['is-active']">
              <mat-icon>lightbulb_outline</mat-icon> 
              <span class="navmargin">Notes</span>
            </a></div>
          </mat-nav-list>
  
          <mat-nav-list class="nav" >
              <!-- <div [ngClass]="{ nav:false, 'nav2':true }"> -->
              <a mat-list-item [routerLink] = "['notes']" class="nav" [routerLinkActive]="['is-active']">
              <mat-icon>notifications_none</mat-icon> 
              <span class="navmargin">Reminder</span>
            </a>
          </mat-nav-list>
  
        <mat-divider></mat-divider>

        <mat-nav-list >
          <span style="color:grey; margin-left: 6px; margin-top:8px;">Labels</span>
            <div *ngFor="let data of label" >
              <div fxLayout="column">
                <mat-list-item  class="nav" >
                  <mat-icon >label_outline</mat-icon>
                  <p class="navmargin">{{data.label_name}}
                </mat-list-item>
              </div>
            </div>
        </mat-nav-list>

        <mat-nav-list class="nav" >
            <mat-list-item  class="nav" >
                <mat-icon>create</mat-icon>
                <span (click)="openDialog()" class="navmargin"> Edit Label</span>
            </mat-list-item>
        </mat-nav-list>
  
        <mat-divider></mat-divider>
  
        <mat-nav-list class="nav" >
          <a mat-list-item [routerLink] = "['archive']" class="nav" [routerLinkActive]="['is-active']">
            <mat-icon>addcircle</mat-icon>
            <span  class="navmargin"> Archive</span>
          </a>
        </mat-nav-list>
  
        <mat-nav-list class="nav" >
            <a mat-list-item [routerLink] = "['trash']" class="nav" [routerLinkActive]="['is-active']">
                <mat-icon>delete_sweep</mat-icon>
                <span  class="navmargin"> Trash</span>
            </a>
        </mat-nav-list>

       <div fxLayout="row" style="color:gray; font-size: 10px; margin-top: 40px; margin-left: 25px;">
          <div fxLayout="column">Privacy</div> 
          <div style="margin-left:2px; margin-right:2px;">.</div>
          <div fxLayout="column"> Term</div>
       </div>

       <div style="color:gray; font-size: 10px; margin-top: 10px; margin-left:25px;">Open-source licens</div> 
      </div> 

    </mat-drawer>

  <app-insertnotes></app-insertnotes>
  
  <app-displaycontents></app-displaycontents>

    <router-outlet></router-outlet>
  </mat-drawer-container>
  

  