/////////////////////////////// side-nav ////////////////////////////
body {
  overflow: hidden !important ;
}

.example-container 
{
  height:100%;
  width:100%;
  background-color:white;
  border: none;
  outline: none;
  border-start-end-radius: 14px;
  overflow: hidden !important ;

}
  
////////////////////////////// fundoo text ////////////////////////////////
.f
{
  color: blue;
  font-size: 22px;
  margin-left:26px;
  margin-top: 6px;
}

.u
{
  color: chocolate;
  font-size: 22px;
  margin-top:6px;
}

.n
{
  color:red;
  font-size: 22px;
  margin-top: 6px;
}

.d
{
  color:green;
  font-size: 22px;
  margin-top: 6px;
} 

.o
{
 color: crimson;
 font-size: 22px;
 margin-top: 6px;;
}

.oo
{
  color:purple;
  font-size: 22px;
  margin-top: 6px;
}

//////////////////////////// side-nav-content //////////////////////

.nav:active
{
    width:100%;
    background-color: lightyellow;
    border-radius: 22;
}

.navbar-content
{
  color:rgb(114, 113, 113);
  margin-right: 16px; 
  margin-top: 10px;
}

.navbar-content1
{
  color:rgb(114, 113, 113);
  margin-left:80px; 
  margin-top: 10px;
  margin-right: 16px;
} 

.navbar-content2
{
  color:rgb(114, 113, 113);
  margin-left:20px; 
} 

.example-form-field 
{
  width: 400px;
  margin-right: 20%;
  border-radius: 22;
  border:none;
  outline: none;
}

//////////////////////////// navbar ////////////////////////////////////////

.flex
{
  margin-top:14px;
  margin-bottom: 14px;
}

.profileMenu
{
  width: 254px;
  margin-block-end: 2px;
}

.searchbar1
{
  width:40px;;
  height: 12px;
  margin-bottom:6px;
  margin-top: 6px;
  background-color:rgb(240, 247, 241);
  margin-left: 200px;
}

.searchbar2
{
  width:40%;
  height: 12px;
  margin-bottom:6px;
  margin-top: 6px;
  background-color:white;
  border: 2px solid #D0D0D0;
  box-shadow: 0 0 10px #D0D0D0;
}

.navbar-content-search
{
  color:rgb(114, 113, 113);
  margin-left:12px; 
  margin-top: 10px;
}

.nav
{
  margin-left:6px;
}

.navmargin
{
  margin-left: 24px;
}

.searchbar
{
  outline: none;
  border:none; 
  margin-left: 12px; 
  font-size: 14px;
  margin-top: 0px;
}

:host ::ng-deep .mat-drawer-side
{
  border-right: 0px !important

} 

:host ::ng-deep .mat-drawer-container
{
  overflow: hidden !important ;
}

