/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .example-container 
// {
//     display: flex;
//     flex-direction: column;
// }
  
//   .example-container > *{
//     width: 30%;
//     margin-left: 460px;
//     margin-bottom: 16px;
//   }

//   .btn
//   {
//       margin-left: 620px;
//       margin-top: 18px;
//   }

//   .p
//   {
//     margin-top: 80px;
//     text-align: center;
//     margin-top: 60px;
//   }

//   .link
// {
//     text-align: center;
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
