.align
{
    width:100%;
 
}

.btn
{
    width: 75%;
   text-align: center;
   margin-left: 44px;
   
}

// .btn2
// {
//     width: 20%;
//    text-align: center;
//    margin-left: 180px;
//    margin-bottom: 12px;
   
// }


.flx
{
    margin-top: 40px;
}

.h3
{
    text-align: center;
}