
<div class="flx" fxLayout='row' fxLayoutAlign='center center'>
    <mat-card fxFlex='30'>
        <h3 class="h3">Sign In</h3>
            <div class="align">
                <form name="form" (ngSubmit)="onSubmit()">
                   
                    <mat-form-field class="align">
                        <input matInput placeholder="Enter your email id" [formControl]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                        <mat-error *ngIf="email.dirty">{{emailError()}}</mat-error>
                    </mat-form-field>
                    <br>
        
                    <mat-form-field class="align">
                        <input type="password" matInput placeholder="Enter your password" [formControl]="password"  pattern="[a-zA-Z0-9@]*" required>
                        <mat-error *ngIf="password.dirty">{{passwordError()}}</mat-error>
                    </mat-form-field>
                    <br>
                    
                    <!-- <mat-button-toggle class="btn2" (click)='signin()'></mat-button-toggle><br>  -->
                    <button class="btn2" ngSubmit="onSubmit()" mat-stroked-button>Sing In</button>
                    <div class="example-button-row">
                        <a [routerLink]="['reset']"><button mat-stroked-button style="margin-left:20px;">Reset password</button></a>
                        <a [routerLink]="['registration']"><button mat-stroked-button style="margin-left:20px;">Create user registration</button></a>
                    </div>  
                </form>     
            </div>
    </mat-card>
</div>
 


  <!-- <button class="btn" (click)="login()">Submit</button><br>

[ngClass]="{'has-error':loginForm.get('name').error && loginForm.get('name').dirty}"


  <p class="link"><a [routerLink]="['reset']" >Reset password/ Forget password</a>
  <p class="link"><a [routerLink]="['registration']">User Registration form</a> -->
<!--The whole content below can be removed with the new code.-->
