.align
{
    width:100%;
}

.btn
{
    width: 77%;
   text-align: justify;
   margin-left: 44px;


}

.btn2
{
   width: 20%;
   margin-left: 140px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 18px;
     margin-bottom: 12px;
   margin-top: 0px;
}


.flx
{
    margin-top: 40px;
}

.h3
{
    text-align: center;
}