
.flex
{
    border-color: brown;
    width: 60%;
}
 .formfield
 {
    width:100%;
 }

 .add-box
 {
    margin-left: 85%;
    margin-top: 0%;
 }

 .margin
 {
    margin-left: 2%;
 }

 .close
 {
    margin-left :52%;
 }
