
.flex
{
    width: 60%;
    margin-top: 70px;
    margin-left: 30%;
}
 .formfield
 {
    width:100%;
 }

 .add-box
 {
    margin-left: 75%;
    margin-top: 0%;
 }

 .margin
 {
    margin-left: 2%;
 }

 .close-btn
 {
   margin-left:300px;
 }

 .fab
 {
   height: 30px;
   width: 30px;
   margin-left: 4px;
   margin-right: 4px;
   margin-bottom: 4px;
   margin-top: 4px;
 }

 .align
 {
    margin-left: 100px;
 }

 .align2
 {
    margin-left: 70px;
 }