
.flex
{
   width: 42%;
   margin-top: 40px;
   margin-left: 30%;
	border: 2px solid #D0D0D0;
	box-shadow: 0 0 10px #D0D0D0;
}

 .formfield
 {
   width:100%;
 }

 .add-box
 {
   margin-left: 75%;
   margin-top: 0%;
   color:rgb(80, 79, 79);
 }

 .margin
 {
   margin-left: 2%;
   color: rgb(80, 79, 79);
 }

 .close-btn
 {
   margin-left: 220px;
   align-content: flex-end;
   color: rgb(80, 79, 79);
 }

 .fab
 {
   height: 30px;
   width: 30px;
   margin-left: 4px;
   margin-right: 4px;
   margin-bottom: 4px;
   margin-top: 4px;
 }

 .align
 {
   margin-left: 100px;
 }

 .align2
 {
   margin-left: 70px;
 }

 .gov
 {
   margin-left: 140px;
 }


 