.font
{
    text-align: center;
    color: gray;
    font-size: 28px;
    margin-top: 30px;
}

.icon
{
    margin-top: 220px;
    color: gray;
}

.text
{
    margin-top: 20px; 
    font-style: italic;
    font-size: 1px;
}