<mat-card class="flex" [ngStyle]="{ 'background-color': color }">
    <div *ngIf="flag==true" (click)="reverse()" fxLayout="row" fxLayoutAlign=" center">
  
        <div style="width:80%;">
          <input matInput placeholder="Take a notes"  style="width:80%;outline: none; border:none;" >
          <!-- <mat-error *ngIf="title.dirty">{{titleError()}}</mat-error> -->
        </div>
  
        <div fxLayoutAlign="end center" appearance="outline" class="formfield" fxLayout='row'>
          <mat-icon matTooltip="New List" class="add-box">add_box</mat-icon>
          <mat-icon matTooltip="New List with drawing" class="margin">brush</mat-icon>
          <mat-icon matTooltip="New List with image" class="margin">insert_photo</mat-icon>
        </div>
    </div>
  
    <div *ngIf="flag==false" [style.backgroundColor]='color'>
      <!-- <mat-form-f-ield [ngStyle.background]=color appearance="outline"  class="formfield"> -->
      <div fxLayout='column' class="formfield"  [style.backgroundColor]='color'>
        <!-- <mat-label>Title : </mat-label> -->
       
          <div style="width:70%;"  >
            <input matInput placeholder="Title" style="outline: none; border:none; margin-bottom:20px;" required>
            <mat-error *ngIf="title.dirty">{{titleError()}}</mat-error>
          </div>
  
          <div style="margin-top:18px; ">
            <textarea matInput  placeholder="Take a Note...."  style="outline: none; border:none;width: 100%;overflow: hidden;" required></textarea>
              <mat-error *ngIf="description.dirty">{{descriptionError()}}</mat-error>
          </div>
  
        <div fxLayout='row' fxLayoutAlign="start end" >
          <mat-icon matTooltip="Remind Me" class="margin" [matMenuTriggerFor]="remainder">notification_important</mat-icon>
            <div>
            <!-- <div style="margin-left:10px;"> -->
              <mat-menu  #remainder="matMenu">
                <button mat-menu-item>Remainder:</button>
                <button mat-menu-item>Later today <span  class="align">08:00 PM</span></button>
                <button mat-menu-item>Tomorrow <span  class="align">08:00 PM</span></button>
                <button mat-menu-item>Next week Mon<span  class="align2">08:00 PM</span></button>
                <button mat-menu-item>Work <span  class="gov">Govandi</span></button>
                <button mat-menu-item><mat-icon>query_builder</mat-icon> Select date and Time</button>
                <button mat-menu-item><mat-icon>room</mat-icon> Select Place</button>
              </mat-menu>
            </div>
  
          <mat-icon matTooltip="Colabrate" class="margin">person_add</mat-icon>
          <mat-icon matTooltip="Change Background Color" class="margin" [matMenuTriggerFor]="color">palette</mat-icon>
  
          <mat-menu #color="matMenu">
            <div fxLayout="row" fxLayoutAlign="center center">
              <button matTooltip="none" mat-mini-fab class="fab" style="background-color:white" (click)="ChangeColor('white')"></button>
              <button matTooltip="light pink" mat-mini-fab class="fab" style="background-color:#EA80FC"  (click)="ChangeColor('#EA80FC')"></button>
              <button matTooltip="light purpul" mat-mini-fab class="fab" style="background-color:#CE93D8"  (click)="ChangeColor('#CE93D8')"></button>
              <button matTooltip="light deep-purpul" mat-mini-fab class="fab" style="background-color:#AA00FF"  (click)="ChangeColor('#AA00FF')"></button>
            </div>
  
            <div fxLayout="row" fxLayoutAlign="center center">
              <button matTooltip="light orange" mat-mini-fab class="fab" style="background-color:rgb(236, 158, 105)" (click)="ChangeColor('rgb(236, 158, 105)')"></button>
              <button matTooltip="light yellow" mat-mini-fab class="fab" style="background-color:rgb(233, 222, 129)" (click)="ChangeColor('rgb(233, 222, 129)')"></button>
              <button matTooltip="light blue" mat-mini-fab class="fab" style="background-color:rgb(158, 202, 238)"  (click)="ChangeColor('rgb(158, 202, 238)')"></button>
              <button matTooltip="light cyan" mat-mini-fab class="fab" style="background-color:rgb(180, 243, 243)"  (click)="ChangeColor('rgb(180, 243, 243)')"></button>
            </div>
  
            <div fxLayout="row" fxLayoutAlign="center center">
              <button matTooltip="light teal" mat-mini-fab class="fab" style="background-color:#49c7ba" (click)="ChangeColor('#49c7ba')"></button>
              <button matTooltip="light green" mat-mini-fab class="fab" style="background-color:rgb(181, 221, 135)"  (click)="ChangeColor('rgb(181, 221, 135)')"></button>
              <button matTooltip="light deep-orange" mat-mini-fab class="fab" style="background-color:rgb(240, 140, 110)"  (click)="ChangeColor('rgb(240, 140, 110)')"></button>
              <button matTooltip="light lime" mat-mini-fab class="fab" style="background-color:rgb(211, 218, 149)" (click)="ChangeColor('rgb(211, 218, 149)')"></button>
            </div>
  
          </mat-menu>
  
          <input type="file"  style="display:none"  #img>
          <mat-icon matTooltip="Add Image" class="margin" (click)="img.click()">insert_photo</mat-icon>
         
          <mat-icon matTooltip="Archive" class="margin">archive</mat-icon>
  
          <mat-icon class="margin" [matMenuTriggerFor]="menu">more_vert</mat-icon>
  
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span (click)="deleteNote()">Delete Note</span>
            </button>

            <button mat-menu-item (click)="openDialog()">
              <span>Add Label</span>
            </button>
  
            <button mat-menu-item>
              <span>Add drawing</span>
            </button>
  
            <button mat-menu-item>
              <span>Show tick</span>
            </button>
          </mat-menu>
  
          <button mat-button (click)='reverse()'  fxLayoutAlign="end end" matTooltip="Close" class="close-btn">Close</button>
  
        </div>
      </div>
    </div>
  </mat-card>
  