.close-btn
{
   margin-left: 170px;
   margin-top: 20px;
}

.icon
{
    margin-top: 20px;
    color: gray;
}

.input
{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border:none;
    outline:none;
}

.font
{
    border:none;
    outline:none;
    font-size: 15px;
    margin-top: 22px;
    margin-left: 20px;
    margin-bottom: 20px;
}