<div  fxLayout="column" fxAlign="start center" class="flex">

  <div class="header-collabrator">
      <h4>Collaborators</h4>
  </div>
  <mat-divider></mat-divider>

  <!-- <div class="middle-collabrator"></div>
    <div fxLayout="row" fxAlign="start center">
      <button mat-mini-fab color="primary">P</button>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="6px">
          <span class="gapbetween">prachi ingole (owner)</span>
          <span class="gapbetween"> prachii760@gmail.com</span>
      </div>
    </div> -->

    <div class="middle-collabrator"></div>
    <div fxLayout="row" fxAlign="start center">
     <mat-icon style="padding-left: 20px;" class="icon">person_add</mat-icon>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="6px">
          <span class="gapbetween">
            <input matInput style="outline: none; border:none" placeholder="Person or Email to share with">
          </span>
          <span class="gapbetween"> </span>
      </div>
    </div>
  
  <div class="footer-collabrator" style="background-color: rgb(235, 238, 240);">
    <button mat-button style="margin-left: 420px;">Cancle</button>
    <button mat-button style="margin-left: 18px;">Save</button>
  </div>

</div>
