.flex
{
    width: 600px;
    height: auto;
    box-shadow: 4px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
}

.header-collabrator
{
    width: 60%;
    box-align: center;
    padding-left: 20px;
}

.middle-collabrator
{
    margin-top: 22px;
    
}

.footer-collabrator
{
    padding-left: 0px;
    margin-top: 55px;
    background-color: rgb(241, 232, 229);
    align-content: flex-end;
}

.gapbetween
{
    margin-left: 10px;
    font-size: 12px;
}

.icon
{
    color:gray;
    border: 2px;
    outline: 2px;
    outline-color: black;
    font-size: 38px;
    padding-left: 18px;
}