<div  fxLayout="column" fxAlign="start center" class="flex">

  <div class="header-collabrator">
      <h4>Collaborators</h4>
  </div>
  <mat-divider></mat-divider>
 
   <div class="middle-collabrator">
    <div fxLayout="row" fxAlign="start center" class="icon">
      <button mat-mini-fab color="primary">P</button>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="6px">
        <div fxLayout="row">
          <span class="gapbetween" style="color: black;">prachi ingole</span>
          <span style="font-style: italic;  font-size: 12px;"> (Owner)</span>
        </div>
          <span class="gapbetween"> prachii760@gmail.com</span>
      </div>
    </div> 

    <div class="middle-collabrator">
      <div fxLayout="row" fxAlign="start center">
      <mat-icon class="icon">account_circle</mat-icon>
        <input matInput style="outline: none; border:none; padding-left:14px;padding-top:12px;"  class="gapbetween" placeholder="Person or Email to share with">
      </div>
    </div>
  
  <div class="footer-collabrator" style="background-color: rgb(235, 238, 240); padding-bottom: 0px;padding-top: 12px; padding-bottom: 12px; padding-left: 420px;">
    <button mat-button (click)="cancle" style="font-size: 16px;">Cancle</button>
    <button mat-button style="font-size: 16px;">Save</button>
  </div>

</div>
