<div fxFlex="100">
<div fxLayout="row">
  <div>
    <span class="header-text">Select profile picture</span>
    <mat-icon class="close-icon">close</mat-icon>
  </div>
</div>

<div fxLayout="row"  class="upload" >
  <mat-tab-group fxFlex="100">
    <mat-tab label="Upload photos">

      <div>
          <img [src]="croppedImage" style="padding-top: 25px;"/>
        <input type="file" (change)="fileChangeEvent($event)" style="display:none" #insert_img/>   
        <image-cropper  [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="4 / 3"
                        [resizeToWidth]="128"
                        format="png"
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()">
        </image-cropper>
        <button mat-raised-button  (click)="insert_img.click()" class="upload_btn">Select a photo from your computer</button> 
      </div>
    
      <div>
        <span class="upload_text">Drag a profile picture here</span>
      </div>
      <!-- <input type="file" style="display:none" #insert_img>-->
      <!-- <button mat-raised-button (click)="insert_img.click()" class="upload_btn">Select a photo from your computer</button>  -->
    </mat-tab>

    <mat-tab label="Your photoes">
      <div class="phototext" >
          <span>No photos</span> 
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

<mat-divider></mat-divider>

<div  fxLayout="row">
   <button mat-raised-button class="upload-bottom-btn" style="background-color: rgb(25, 140, 216);" *ngIf="insert_img" disabled>Set as a profile picture</button>
   <button mat-raised-button class="upload-bottom-btn2">Cancle</button>
    <span>
      <p class="upload-bottom-text">Your profile photo is visibale to everyone, accross the google product.
      <a href="https://support.google.com">Learn more.</a>
    </span>
</div>

</div>

