<div fxLayout="row" fxLayoutAlign="start start" >
  <h4>Keyboard Shortcuts</h4>
  <mat-icon class="icon">close</mat-icon>
</div>

  <mat-divider></mat-divider>
  
  <div fxLayout="row" fxLayoutAlign="start start" class="text">
    <p> Navigate to next/previous note   
    <p class="margin1"> J/K
  </div>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="start start" class="text">
      <p> Move note to next/previous position
      <p class="margin2"> Shift + J/K
  </div>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="start start" class="text">
      <p> Navigate to next/previous list item  
      <p class="margin3"> N/P
  </div>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="start start" class="text">
      <p> Move list item to next/previous position	 
      <p class="margin4"> Shift + N/P
  </div>

  <mat-divider></mat-divider>

  <h4>Application</h4>

   
  <div fxLayout="row" fxLayoutAlign="start start" class="text">
      <p> Compose a new note	   
      <p class="margin5"> C
    </div>
  
    <mat-divider></mat-divider>
  
    <div fxLayout="row" fxLayoutAlign="start start" class="text">
        <p> Compose a new list
        <p class="margin6"> L
    </div>
  
    <mat-divider></mat-divider>
  
    <div fxLayout="row" fxLayoutAlign="start start" class="text">
        <p> Search notes
        <p class="margin7"> /
    </div>
  
    <mat-divider></mat-divider>
  
    <div fxLayout="row" fxLayoutAlign="start start" class="text">
        <p> Select all notes 
        <p class="margin8"> Control + A
    </div>
  
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="start start" class="text">
        <p> Open keyboard shortcut help	 
        <p class="margin9"> ?
    </div>
  
    <mat-divider></mat-divider>
  
    <div fxLayout="row" fxLayoutAlign="start start" class="text">
        <p> Send feedback
        <p class="margin10"> @
    </div>

    <h4>Actions</h4>

    <div fxLayout="row" fxLayoutAlign="start start" class="text">
        <p> Navigate to next/previous note   
        <p class="margin1"> J/K
      </div>
    
      <mat-divider></mat-divider>
    
      <div fxLayout="row" fxLayoutAlign="start start" class="text">
          <p> Move note to next/previous position
          <p class="margin2"> Shift + J/K
      </div>
    
      <mat-divider></mat-divider>
    
      <div fxLayout="row" fxLayoutAlign="start start" class="text">
          <p> Navigate to next/previous list item  
          <p class="margin3"> N/P
      </div>
    
      <mat-divider></mat-divider>
    
      <div fxLayout="row" fxLayoutAlign="start start" class="text">
          <p> Move list item to next/previous position	 
          <p class="margin4"> Shift + N/P
      </div>
    
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutAlign="start start" class="text">
          <p> Move list item to next/previous position	 
          <p class="margin4"> Shift + N/P
      </div>
      
      <mat-divider></mat-divider>

    <h4>Editor</h4>

    <div fxLayout="row" fxLayoutAlign="start start" class="text">
        <p> Navigate to next/previous note   
        <p class="margin1"> J/K
      </div>
    
      <mat-divider></mat-divider>
    
      <div fxLayout="row" fxLayoutAlign="start start" class="text">
          <p> Move note to next/previous position
          <p class="margin2"> Shift + J/K
      </div>
    
      <mat-divider></mat-divider>
    
      <div fxLayout="row" fxLayoutAlign="start start" class="text">
          <p> Navigate to next/previous list item  
          <p class="margin3"> N/P
      </div>
    
      <mat-divider></mat-divider>
    
      <div fxLayout="row" fxLayoutAlign="start start" class="text">
          <p> Move list item to next/previous position	 
          <p class="margin4"> Shift + N/P
      </div>
    
      <mat-divider></mat-divider>